# OSX
.DS_Store
._*

# Windows
Thumbs.db

# SVN
.svn/

# Node.js
node_modules/

# Sublime Text
*.sublime-*

# Vim
*~
*.un~
*.swp
*.swo
*.swn
*.swl
*.swm
.sw*
Session.vim
.netrwhist

# IntelliJ IDEA
.idea


