@import './animate.less';

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fdfff2;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#logo {
  width: 3.37rem;
  margin: 0 auto;
  top: 3rem;
  position: relative;
  display: none;
}

#yes {
  color: #917097;
  text-decoration: underline;
}

#bg {
  background-color: #fdfff2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
  display: none;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    &.top {
      background-image: url('/vendor/img/bg-top.png');
      background-position: top center;
      background-size: 100% auto;
    }

    &.left {
      background-image: url('/vendor/img/bg-left.png');
      background-position: center left;
      background-size: auto 50%;
      left: -10%;
    }

    &.right {
      background-image: url('/vendor/img/bg-right.png');
      background-position: center right;
      background-size: auto 50%;
      right: -10%;
    }

    &.bottom {
      background-image: url('/vendor/img/bg-bottom.png');
      background-position: bottom center;
      background-size: 100% auto;
    }
  }
}

.scenes {
  display: none;
}

.scene {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 15;
}

.chloe {
  width: 70vw;
}

.quark {
  width: 75vw;
}

.group {
  width: 75vw;
}

.pop {
  text-align: center;
  font-size: .3rem;
  position: relative;
  top: 75%;
  display: none;
  width: 70%;
  margin: 0 auto;

  > span {
    display: inline-block;
    position: relative;
    &::before {
      content: '“';
      position: absolute;
      left: -.5rem;
      top: -.3rem;
      font-size: .5rem;
    }

    &::after {
      content: '“';
      position: absolute;
      right: -.3rem;
      bottom: -.4rem;
      font-size: .5rem;
    }
  }
}

#scene0 {
  padding-top: 30%;
  img {
    display: block;
    margin: .5rem auto;
    position: relative;
    animation: fadeIn 3s;
  }
  img.welcome {
    width: 50%;
  }
  img.names {
    width: 50%;
  }
  img.time {
    width: 35%;
  }
  img.address {
    width: 45%;
  }
}

#scene1 {
  .chloe {
    position: absolute;
    top: 27vh;
    left: 15vw;
    display: none;
  }
}

#scene2 {
  .quark {
    position: absolute;
    top: 27vh;
    left: 15vw;
    display: none;
  }
}

#scene3 {
  .group {
    position: absolute;
    top: 27vh;
    left: 13vw;
    display: none;
  }
}

#scene4 {
  .pop {
    top: 40%;
    font-size: .55rem;
  }
}

#scene5 {
  .white {
    background-color: #ffffff;
    padding: .4rem .3rem .3rem .3rem;
    width: 70vw;
    margin: 0 auto;
    border: 1px solid #ccc;
    position: relative;
    top: 40vh;
    z-index: 10;
    text-align: center;
    font-size: .3rem;
    display: none;

    img.arrow-down {
      height: 45vw;
      display: block;
      position: absolute;
      top: -37.3vw;
    }

    img.map,
    img.invite {
      width: 100%;
    }
  }
}

#loading {
  margin: 0 auto;
  width: 200px;
  margin-top: 37%;
}

@keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  5% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  39% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  45% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.lds-heart {
  position: relative;
  -webkit-animation: lds-heart 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: lds-heart 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div {
  top: 72px;
  left: 60px;
  position: absolute;
  width: 80px;
  height: 80px;
  background: #e94662;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  background: #e94662;
}
.lds-heart div:before {
  left: -52px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -52px;
  border-radius: 50% 50% 0 0;
}
.lds-heart {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

